@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 300 900;
  src: url("../../assets/fonts/Fraunces-VariableFont.ttf");
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300 900;
  src: url("../../assets/fonts/Manrope-VariableFont.ttf");
}
