@use '../../styles/variables/shared' as var;
@use "../../styles/mixins/text" as text;
@use "../../styles/mixins/breakpoints" as *;

.intro {
  position: relative;
  background-color: var.$color-blue;
  z-index: 2;
  min-height: 25rem;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    top: 100%;
    height: 4rem;
    background-color: var.$color-blue;
    left: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }


  @include media-breakpoint-up($md) {
    min-height: 34rem;
  }

  @include media-breakpoint-up($xl) {
    min-height: 38rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    color: var.$color-white;
    padding: 3rem 0;
    max-width: 560px;
    text-align: center;

    &--underline {
      position: relative;
      @include text.text-underline(var.$color-green);
    }
  }

  &__heroImage {
    position: absolute;
    max-width: 20rem;
    bottom: -10rem;
    z-index: 10;

    @include media-breakpoint-up($md) {
      max-width: 30rem;
      bottom: -10rem;
    }

    @include media-breakpoint-up($xl) {
      max-width: 36rem;
    }
  }

  &__patternLeft {
    display: none;

    @include media-breakpoint-up($md) {
      display: block;
      position: absolute;
      left: -14rem;
    }

    @include media-breakpoint-up($xl) {
      left: -10rem;
    }
  }

  &__patternRight {
    display: none;

    @include media-breakpoint-up($md) {
      display: block;
      position: absolute;
      right: -6rem;
      bottom: 6rem;
    }

    @include media-breakpoint-up($xl) {
      right: -3rem;
    }
  }
}