@use "../../styles/mixins/button" as button;
@use "../../styles/variables/shared" as var;
@use "../../styles/mixins/breakpoints" as *;


.button {
  @include button.button-reset();

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  background-color: var.$color-green;
  color: var.$color-blue;
  min-height: 4rem;
  font-weight: var.$font-weight-bold;
  cursor: pointer;

  @include media-breakpoint-up($xl) {
    font-size: var.$font-size-lg;
  }

  &:hover {
    background-color: transparent;
    color: var.$color-green;
    border: 2px solid var.$color-green;
  }
}