$font-size-xs: 0.75rem; /* 12px */
$font-size-sm: 0.875rem; /* 14px */
$font-size-base: 1rem; /* 16px */
$font-size-lg: 1.125rem; /* 18px */
$font-size-xl: 1.5rem; /* 24px */
$font-size-2xl: 2rem; /* 32px */
$font-size-3xl: 2.5rem; /* 40px */
$font-size-4xl: 3rem; /* 48px */
$font-size-5xl: 3.5rem; /* 56px */
$font-size-6xl: 5rem; /* 80px */

$line-height-base: 2rem; /* 32px */
$line-height-heading-small: 2.5rem; /* 40px */
$line-height-heading-medium: 4rem; /* 64px */
$line-height-heading-large: 5rem; /* 80px */

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semiBold: 600;
$font-weight-bold: 700;