@use '../../styles/variables/shared' as var;

.header {
  background-color: var.$color-blue;

  &__navigation {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}