@use 'styles/variables/shared' as var;
@use "styles/mixins/page" as *;

.intro {
  background-color: var.$color-blue;
  min-height: 30rem;
  border-bottom-left-radius: 100% 4rem;
  border-bottom-right-radius: 100% 4rem;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.header {
  background-color: var.$color-blue;

  &__content {
    @include page-container();
  }

  &__navigation {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}