@use "../../styles/variables/shared" as var;
@use "../../styles/mixins/breakpoints" as *;
@use "../../styles/mixins/text" as text;


.link {
  @include text.text-underline(var.$color-green);

  display: block;
  position: relative;
  color: var.$color-white;
  padding-bottom: 0.25rem;
  width: fit-content;
  font-size: var.$font-size-base;
  font-weight: var.$font-weight-bold;
  cursor: pointer;

  @include media-breakpoint-up($xl) {
    font-size: var.$font-size-lg;
  }

  &:hover {
    color: var.$color-green;
  }
}